

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

main {
  flex: 1 0 auto;
  margin-top: 100px;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap
}

nav {
  height: auto;
  width: auto;
  position: inherit !important;
}

.page-footer {
  padding: 8px 0px 8px 0px;
}

.expLists  {
  list-style: disc !important;
}

.techIMG {
  width: 80px !important;
  height: 80px !important;
  margin: 1px
}

.card-title {
  text-align: center;
  font-size: 3em !important;
  margin-bottom: 10px !important;
  font-family: 'Oleo Script', cursive;
  /* text-decoration: underline; */
  color: white;
}

.techTitle {
  margin-bottom: 10px
}

.container {
  width: 90%
}

.navBarLinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navBarLinks * {
  font-size: 1.5em
}

.noRows {
  margin-bottom: 34px
}

.footer-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#gitHubLink {
  height: 30px;
  width: 30px
}

#linkedInLink {
  height: 50px;
  width: 50px
}

.aboutMe {
  font-size: 1.2em
}

.mainHead {
  display: inline;
}

.typed-cursor {
  font-size: 70px;
  opacity: 0.8 !important;
}

.project {
  max-width: 300px;
  max-height: 500px;
  text-align: center;
}

.listOfProjects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.projectDescription {
  text-align: left;
  font-size: 1.1em
}

header {
  text-align: center;
}

.headContainer {
  height: 110px;
}

h1 {
  font-family: 'Oleo Script', cursive;
}

.projectTitle {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.5em;
}

.expSchool {
  width: 80%;
}

.expSchoolContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 #overlay {
  background-color:rgba(0,0,0,.65);
  height:150px;
  position: relative;
  transition:background-color 300ms ease;
  width:100%;
  margin-top: 10px;
  top: 50px;
  }


    video {
      position: relative;
      top: -40px;
      left: 50%;
      /* min-width: 375px;
      min-height: 400px; */
      width: 100%;
      height: 100%;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
      }

      .parallax {
          /* The image used */
          background-clip: url("/static/img/waterfall.mp4");
          position: relative;
        
          width: auto;
          height: auto;
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        
      }

      .myIMG {
        height: 100px !important;
        width: 150px !important;
        transform: rotate(90deg);
      }


      